.project-card {
  display: flex;
  height: 100%;
  width: 250px;
  margin: 3%;
}

.projects {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;  
  padding-bottom: 5%;
}

#projects {
  padding-top: 5%;
}

.jumbotron {
  background-image: url("assets/headerpic.jpg");
  background-size: cover;
  text-align: right;
  margin-top: 3%;
  padding-bottom: 15%;
}

.navbar {
  background-color: white;
}

.about {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.card-header {
  margin-top: 0;
}

.far, .fab, .fas {
  font-size: 28px;
  margin: .75%;
}

#contact, #resume {
  text-align: center;
  padding-bottom: 5%;
}

