.project-card {
  display: flex;
  height: 100%;
  width: 250px;
  margin: 3%;
}

.projects {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;  
  padding-bottom: 5%;
}

#projects {
  padding-top: 5%;
}

.jumbotron {
  background-image: url("assets/headerpic.jpg");
  background-size: cover;
  text-align: right;
  margin-top: 3%;
  padding-bottom: 15%;
}

.navbar {
  background-color: white;
}

.about {
  flex-direction: row;  
  padding-top: 5%;
}

.card-header {
  margin-top: 0;
}

.far, .fab, .fas {
  font-size: 28px;
  margin: .75%;
}

#contact, #resume {
  text-align: center;
  padding-bottom: 5%;
}

#profile-pic {
  float: left;
  border-radius: 50%;
  height: 150px;
  margin: 2%;
}

.about-text {
  display: inline;

}

.card:hover .text-overlay {
  display: flex;
  opacity: 0.9;
  background: rgba(0, 0, 0, 0.4);
}

.text-overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  justify-content: center;
  height: 100%;
  opacity: 0;
	transition: opacity 0.5s ease-in-out;
  padding-left: 5%;
  padding-right: 5%;
}

.text-overlay > a {
  color: white;
}