.project-card {
  display: flex;
  height: 100%;
  width: 250px;
}

.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.jumbotron {
  background-image: url("assets/headerpic.jpg");
  background-size: cover;
  text-align: right;
  /* padding: 9%; */
  /* color: gray; */
  margin-top: 3%;
  padding-bottom: 15%;
}

.navbar {
  background-color: white;
}

.about {
  margin: 3%;
  display: flex;
  flex-direction: column;
}

.projects {
  display: flex;
  justify-content: space-around;
  
}